.Header {
  width: 100%;
  height: 4.68rem;
  position: fixed;
  top: 0;
  border: 1px solid hotpink;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

.Header__img {
  height: 100%;
  width: 50%;
  border: 1px solid blue;
}

.Header__div {
  height: 2rem;
  width: 3rem;  
  z-index: 100;
  border: 1px solid green;
}
